Options +FollowSymLinks
IndexIgnore */*
RewriteEngine on
DefaultLanguage ru
AddDefaultCharset utf-8
php_value default_charset "utf-8"


RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php
